.popup__field{
    border: 0;
    width: 100%;
    height: 27px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,.2);
    background-color: transparent;
    margin: 0;
    padding: 0 0 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    font-family: inherit;
    outline: none;
}

.popup__field:focus{
    border-bottom: 1px solid rgb(64,153,255);
}